.App {
 max-height: 100vh;
 min-height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.profile_image{
  border-radius: 50px;
  margin-right: 8px;
}

.main{
  /* padding: 10px; */
  margin: auto;
  margin-bottom: 30px !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logout{
  color: red;
}

.auth{
  background-color: rgb(0, 0, 0,0.5);
  width: 90%;
  margin: auto;
  padding: 10px;
  overflow: hidden;
  border-radius: 25px;
}

@media screen and (min-width: 1000px){
  .auth{
    width: 50%;
  }
}

.dropdownItems{
  overflow: hidden;
  text-wrap: wrap;
  padding: 10px;
  background-color: #e6e6e6;
}

.dropdownItems:hover{
  background-color: #9bd4ff;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

.divButton{
  text-align: center;
  cursor: pointer;
  color: rgb(133, 178, 255);
}

.nav_item{
  padding: 20px;
  align-items: baseline;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  border-bottom: 1px solid rgb(58, 58, 58,0.8);
  cursor: pointer;
}

.nav_item_selected{
  padding: 20px;
  align-items: baseline;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  background-color:rgb(35, 115, 252,0.9);
  border-bottom: 1px solid rgb(58, 58, 58,0.8);
  cursor: pointer;
}

.nav_side_bar{
  width: 20%;
  min-width: fit-content;
  height: 85vh;
   background-color:rgb(35, 115, 252,0.5);
}

.nav_item:hover{
   background-color:rgb(35, 115, 252);
}
 .nav_text{
    margin-left: 10px;
  }

@media screen and (max-width:991px) {
  .nav_text{
    display: none;
  }
  .nav_side_bar{
  width: fit-content;
  height: 85vh;
   background-color:rgb(35, 115, 252,0.5);
}
.dash{
  padding: 10px;
  width: 100%;
  margin-bottom: 5000px !important;
}
}

.dash{
  padding: 10px;
  width: 85%;
}

.pointer{
  cursor: pointer !important;
}

.t_head{
  background-color: black !important;
}

.avatar img {
  width: 200px;
  height:200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.avatar2 img {
  width: 100px;
  height:100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.profile_avatar-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile_avatar-wrapper:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.profile_avatar-wrapper_img {
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 1px 1px 15px -15px #000;
          box-shadow: 1px 1px 15px -15px #000;
}

.profile_avatar-wrapper_svg{
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 100%;
  width: 50%;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile_avatar-wrapper_svg:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.9;
}

.profile_avatar-input {
  display: none;
}